/* Main Header*/
.contact {
    padding: 50px;
    text-align: center;
    background-color: rgb(9,39,96);
    color: white;
  }

/* Navigation Bar*/
.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
text-decoration: underline;
}

.topnav a.active {
background-color: #4e4e4e;
color: white;
}
/* Page Details*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(47, 47, 47);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(9,39,96);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  #discord{
    width: 627px;
    height: 627px;
  }

  /*Footer Menu*/
  .footer {
    position: relative;
  margin-top: -180px;
  
  /* negative value of footer height */
  height: 80px;
  clear: both;
  background-color:rgb(9,39,96);
    
  }